@use '../base/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #dfffc9; 
}

img {
    max-width: 100%;
    display: block;
}