// _variables.scss
$color-primary: #9BE35C; // El verde neón de fondo y barra
$color-secondary: #000000; // Negro del menú y textos
$color-text: #333333;
$font-main: 'Montserrat', sans-serif; // Parece una sans-serif moderna

// Espaciados
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 40px;