/* 1.position:static*/
.caja-static {
    position: static;
    background-color: rgb(0, 255, 42);
}
/* 2.position:relative*/
.caja-relative {
    position: relative;
    background-color: rgb(0, 191, 255);
}
/* 3.position:absolute*/
.caja-absolute {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: rgb(255, 102, 0);
}

/* 4.position:sticky */
.caja-sticky {
    position: sticky;
    background-color: rgb(255, 209, 2);
}
/* 5.position:fixed*/
.caja-fixed {
    position: fixed;
    background-color: rgb(185, 68, 253);
}