.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8a8484;
    height: 200px;
}

.caja {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    color: white;
    text-align: center;
    line-height: 100px;
}