body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}
h1 {
    color: #333333;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-size: 24px;
    color: #555555;
    letter-spacing: 2px;
    text-decoration: underline;
}
p {
    font-size: 16px;
    color: #666666;
    text-align: justify;
    text-indent: 30px;
}
blockquote {
    font-style: italic;
    color: #444444;
    background-color: #f0f8ff;
    padding: 10px;
    border-left: 3px solid #007acc;
}
