.seccion1 {
    padding: 20px;
    background-color: #cce5ff;
}

.seccion2 {
    background-color: #d4edda;
    padding: 10px 15px 20px 25px;
}

.seccion3 button {
    padding: 30px 50px;
    background-color: #f8d7da;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}
