table {
    width: 80%;
    margin: 20px auto;

    /* Bordes */
    border-collapse: separate;
    border-spacing: 10px;

    /* Diseño tabla */
    table-layout: fixed;

    /* Visualizar las vacias */
    empty-cells: show;
}

/* Título */
caption {
    caption-side: bottom;
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
    color: #ff18b2;
}

/* Celdas y encabezados */
th, td {
    border: 1px solid #09e614;
    padding: 10px;
    text-align: center;
}

/* Encabezado */
th {
    background-color: #2b7bc5;
    color: white;
    border: 2px solid #f10707;
}