ul > li:first-child  {
    background-color: rgb(7, 218, 218);
}

ul > li:last-child {
    font-style: bold;
}

.tareas li:nth-child(3) {
    color: rgb(9, 236, 85);
    font-style: italic;
}

.tareas li:nth-child(3) + li,
.tareas li:nth-child(3) ~ li {
    color: rgb(228, 240, 13);
}

.contactos li:nth-child(2) {
    border: 2px solid rgb(244, 165, 18);
}
