.menu {
  background-color: $color-principal;
  padding: $padding-base;
  font-family: $fuente-base;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;

    li {
      a {
        text-decoration: none;
        color: white;
        padding: 5px 10px;

        &:hover {
          color: $color-secundario;
        }
      }
    }
  }
}