$myFont: Helvetica, sans-serif;
$myColor: rgb(22, 216, 32);
$myFontSize: 18px;
$myWidth: 680px;

body {
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
}

#container {
  width: $myWidth;
}
