body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c05c5c;
    padding: 1rem;
}
nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #21ce21;
    padding: 20px;
}
.card {
    background-color: rgb(19, 83, 202);
    padding: 20px;
    border: 1px solid #ffffff;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #4747ce;
    padding: 1rem;
}