.boton-base {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.boton-primario {
  @extend .boton-base;
  background-color: #3498db;
}

.boton-secundario {
  @extend .boton-base;
  background-color: #2ecc71;
}

.boton-alerta {
  @extend .boton-base;
  background-color: #e74c3c;
}
