/* 1.*/
p::first-line {
    color: rgb(0, 164, 240);
    font-size: 20px;
}
/* 2.*/
p::first-letter {
    color: rgb(222, 10, 10);
    font-size: 42px;
    font-weight: bold;
}
/* 3.*/
body::before {
    content: "¡Prepárate para aprender CSS!";
    font-size: 50px;
    color: rgb(231, 19, 100);
}
/* 4.*/
body::after {
    content: "¡Sigue practicando y mejora cada día!";
    font-size:50px;
    color: rgb(66, 255, 66);
}
/* 5.*/
::selection {
    background-color: rgb(248, 248, 11);
}
